@model KursKayit
<h2>Kurs Kayit Silme</h2>
<hr>
<p>
 <b>@Model.Ogrenci.AdSoyad</b> isimli kullaniciyi kurstan silmek istiyor musunuz?
 <form asp-action="Delete" method="post">
    <input type="hidden" asp-for="@Model.KursId">
    <button type="submit" class="btn btn-danger">Evet</button>
    <a asp-action="Index" class="btn btn-primary">Hayir</a>
 </form>
</p>